<h1 class="sinki">新規登録</h1>
<p id="index_link_new"><%= link_to "企業一覧",root_path %></p>
  <%= form_for  @micropost do |form| %>
    <%= render "form", form:form %>
    <p><%= form.submit %></p>
  <% end %>
