<div class="about">
  <h1 class="syousai">企業詳細</h1>
  <div class="sha-me">1社目
  </div>
    <ul class="list_about">
       <li><span>会社名</span><input class="form-control" id="company_name" name="company[name]" type="text"></li>
       <li><span>設立年月日</span><input class="form-control" id="company_date" name="company[date]" type="date"></li>
       <li><span>従業員数</span><input class="form-control" id="employee" name="employee" type="number"></li>
       <li><span>担当者</span><input class="form-control" id="tantosya" name="tantosya" type="text"></li>
       <li><span>勤務地</span><input class="form-control" id="place" name="place" type="text"></li>
       <li><span>職種</span><input class="form-control" id="occupations" name="occupations" type="text"></li>
       <li><span>事業内容</span><input class="form-control" id="content" name="content" type="text"></li>
       <li><span>志望理由</span><textarea class="form-control" id="reason" name="reason" type="text"></textarea>

    </ul>
</div>

<div class="link-to_index">
<%= link_to "企業一覧",root_path %>
</div>
