@import "bootstrap";

/* application */

body{
background-color:palegoldenrod;
}

/* flash */

p.notice {
   border: 1px solid blue;
   padding: 3px;
   background-color: #ccf;
}



/* header */
header {
  h1{
  border-radius:10px;
  border: 2px solid #988686;
  font-family: serif;
  color: white;
  background-color: #f58a0096;
  margin: 5% 10% 5% 10%;
  padding:2% 0;
  text-align: center;
    }
}

/* about */
.syousai {
  margin-left: 25%;
  margin-right: 25%;
  border-left: 6px solid #000000;
  border-right: 6px solid #000000;
  font-size: 30px;
  text-align: center;
  color: black;

}

.about {
  table{
    margin:0 auto;

  }
}



.sha-me {
  padding:0 20% 0 25%;
  font-size:30px;
  margin: 20px 0 20px 0;
}

.list_about {
  li{
  list-style-type:none;
  font-size:20px;
  margin: 0 auto;
  }
}

span {
  padding:0 20% 0 25%;
}

.link-to_index{
  margin-left: 65%;
}



/* index */


#shinki_link {
  width:60px;
  margin:10px 30% 10px 70%;

}


.list_index {
  margin-left: 25%;
  margin-right: 25%;
  border-left: 6px solid #000000;
  border-right: 6px solid #000000;
  font-size: 30px;
  text-align: center;
  color: black;
}


.shame_index {
  margin:0 auto;
  th {
    padding:30px 50px 30px 50px;
    font-size:25px;
  }
}


.shame_index {
  margin:0 auto;
  td {
    padding:20px 30px 20px 30px;
    font-size:20px;
  }
}





#company_name_index{
  width:400px;
  height:26px;
}

.form-control {
  margin-left: 25%;
  margin-right: 25%;
  width:500px;
}

#reason {
  height:100px
}



/* footer */

footer {
  height:100px;
  padding:25px 0 0 0;
}


footer {
  a{
    margin-left: 65%;
  }
}

.footer_space {
  font-size:20px;
  text-align: center;
}


/* new */
.sinki {
  margin-left: 25%;
  margin-right: 25%;
  border-left: 6px solid #000000;
  border-right: 6px solid #000000;
  font-size: 30px;
  text-align: center;
  color: black;


}

#index_link_new{
  width:60px;
  margin:10px 30% 10px 70%;
}


/*form*/

#form {
  margin:auto;
  tr{
    padding:25px 0 25px 0;
  }
}


/* edit */

.hensyuu{
  margin-left: 25%;
  margin-right: 25%;
  border-left: 6px solid #000000;
  border-right: 6px solid #000000;
  font-size: 30px;
  text-align: center;
  color: black;
}

#edit_link_show {
  width:80px;
  margin:10px 30% 10px 70%;
}
