@import "bootstrap";

/* header */
header {

  h1{
  color: white;
  background-color: blue;
    }
}


#about {
  color: black;
  background-color: yellow;
}


#index {
  color: red;
  background-color: purple;
}
